.arrow {
  @include fs14();
  position: absolute;
  bottom: 15px;
  right: 15px;

  &::after {
    content: '';
    display: inline-block;
    background: url('../assets/images/white_arrow.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    width: 20px;
    height: 10px;
    margin-left: 10px;
  }
  @include mq() {
    bottom: 30px;
    right: 30px;
  }
}